In [1]:
import numpy as np
import pandas as pd

x = pd.read_csv('dataframes/fake.csv')
y = pd.read_csv('dataframes/true.csv')

x['label'] = 0
y['label'] = 1

x.drop(['subject','date'], axis=1, inplace=True)
y.drop(['subject', 'date'], axis=1, inplace=True)

In [2]:
data = pd.concat([x,y])
data = data.sample(frac=1)

data.reset_index(drop=True, inplace=True)
data

,title,text,label
0,Senator-elect Jones not joining calls for Trum...,"WASHINGTON (Reuters) - Democrat Doug Jones, wh...",1
1,SIX Witnesses Corroborate Sexual Assault Clai...,Former People magazine writer Natasha Stoynoff...,0
2,Britain says 'conceivable' Manchester attack m...,LONDON (Reuters) - A suicide attack at a pop c...,1
3,Florida's Puerto Ricans strongly favor Clinton...,NEW YORK (Reuters) - Florida’s rapidly growing...,1
4,"Trump to meet with Chicago mayor, North Caroli...",(This version of the story corrects date in l...,1
...,...,...,...
44893,Tulsi Gabbard Triggers The War Hawks With Her ...,21st Century Wire says Congresswoman and Iraq ...,0
44894,Vote may have put independence out of reach fo...,ERBIL (Reuters) - The Kurdish independence vot...,1
44895,Malaysia summons Myanmar ambassador over viole...,KUALA LUMPUR (Reuters) - Malaysia on Tuesday s...,1
44896,"International Red Cross to ""drastically"" cut A...",KABUL (Reuters) - The International Committee ...,1
44897,'No more woe is me': Senator McCain vows quick...,"WASHINGTON/PHOENIX, Ariz. (Reuters) - U.S. Sen...",1

In [3]:
data.to_csv('dataframe.csv')